In [17]:
import pandas as pd

In [18]:
ds = pd.read_csv("C:\\Users\\raghu\\Documents\\MLbasics\\Datasets\\credit_data.csv")

In [20]:
ds.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [21]:
ds[["Class"]].value_counts()
#imbalanced

Class
0        284315
1           492
dtype: int64

In [22]:
legit = ds[ds.Class==0]
sus = ds[ds.Class==1]

In [24]:
print(legit.shape,
sus.shape)

(284315, 31) (492, 31)

In [25]:
legit = legit.sample(n=492)
print(legit.shape)

(492, 31)

In [30]:
balanced_ds = pd.concat([legit,sus])
balanced_ds.shape

(984, 31)

In [31]:
balanced_ds.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
169366,119662.0,2.052102,0.090850,-1.792136,0.383724,0.499475,-0.700988,0.173688,-0.194092,0.527489,...,-0.363507,-0.972100,0.316450,0.315498,-0.261624,0.186175,-0.063330,-0.030742,14.99,0
155455,105474.0,-0.439409,0.851738,2.125252,-0.276866,0.495070,0.046942,0.546248,-0.256715,1.495978,...,-0.350341,-0.524870,-0.397286,-0.745874,0.371683,-0.688523,-0.077457,-0.151854,1.51,0
153102,97900.0,-0.391340,0.736468,0.596247,-0.795080,0.935631,-0.283086,1.017787,-0.376472,1.914917,...,-0.062650,0.552087,-0.227688,0.599284,-0.093418,0.027549,0.073785,0.003336,16.10,0
272770,165261.0,-1.025299,0.646827,1.330636,-1.430000,0.252386,-0.210325,0.236896,0.319783,0.132520,...,-0.081545,-0.218798,-0.189091,-0.398004,-0.350195,-0.410551,-0.276793,-0.206924,0.77,0
199336,132912.0,-0.615840,0.406676,1.408925,-0.327258,1.035478,0.293076,0.814743,-0.222776,0.456632,...,0.158534,1.002296,-0.855443,-0.877716,1.313410,0.307209,-0.104863,-0.177382,14.66,0

In [32]:
balanced_ds.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1